---
import { getCollection } from 'astro:content';
import Card from '../components/Card.astro'
import '../styles/reset.css'

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const vegetables = await getCollection('vegetables');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Eat Your Vegetables</title>
	</head>
	<body>
	<div class="wrapper">
		<h1 class="title">Eat Your Vegetables</h1>
		<main class="main">
			{vegetables.map(vegetable => <Card vegetable={vegetable} />)}
		</main>
	</div>
	</body>
</html>

<style is:global>
	@font-face {
    font-family: "Eklektyk";
    src: url(/fonts/Eklektyk-Regular.woff2) format('woff2'),
         url(/fonts/Eklektyk-Regular.woff) format('woff');
  	}

	h1, h2 {
		font-family: "Eklektyk";
	}

	h1 {
		font-size: 4.5rem;
	}

	body {
		background-color: #FFF8EF;
		color: #541F0F;
	}

	.wrapper {
		max-width: 75ch;
		margin: 12rem auto 3rem;
	}
</style>